name: CI/CD Pipeline

on:
  push:
    branches:
      - main


jobs:
    build-and-test:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Set up .NET
          uses: actions/setup-dotnet@v4
          with:
            dotnet-version: '10.0.x'

        - name: Restore dependencies
          run: dotnet restore

        - name: Build
          run: dotnet build --no-restore

        - name: Test
          run: dotnet test --no-build --verbosity normal

    # Deployment job triggered only on successful build-and-test on main branch
    deploy:
        needs: build-and-test
        if: github.ref == 'refs/heads/main' && success()
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v4

        - name: Generate Deployment Package
          run: dotnet publish -c Release -o ./publish

        - name: Deploy to AWS Elastic Beanstalk
          uses: einaregilsson/beanstalk-deploy@v20
          with:
            aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            application_name: Individuell-CICD
            environment_name: Individuell-CICD-env
            version_label: ${{ github.run_number }}
            region: eu-north-1
            deployment_package: ./publish
            